---
layout: default
title: Projects
permalink: /projects/
---

<article class="projects column">

  <div class="projects-content">
    {% assign public_repos = site.data.github | sort: 'name' %}
    {% for repo in public_repos %}
      {% if repo.fork == false %}
        <h2><a href="{{ repo.html_url }}">{{ repo.name }}</a></h2>
        <h5>{{ repo.description }}</h5>
        {% if repo.language %} {{ repo.language }} {% endif %}
        <i class="fa fa-star pl-md-2 " aria-hidden="true"></i> {{ repo.stargazers_count }}
        <i class="fa fa-code-branch pl-md-2" aria-hidden="true"></i> {{ repo.forks_count }}
        <br />
      {% endif %}
    {% endfor %}
  </div>

</article>
