body {
  margin: 0px;
  font-family: $base-font-family;
  color: $grey-color;
  background-image: url(/assets/images/body_background.png);
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: 0px calc(15% - 2.8vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Grindaga;
    text-transform: uppercase;
    color: $text-color;
}

a {
    color: $link-color;
    text-decoration: none;
}

@import "layouts";
@import "cards";
@import "nav";
