.header {
  @include grid-container;
  background-color: $background-color;
  border-bottom: solid 5px $border-color;
  padding-top: 5px;
  .column {
    @include grid-column(1);
  }
}

.main-background {
  @include grid-container;
  .column {
    @include grid-column(1);
    margin-left: 0px;
    width: inherit;
    img {
      max-width:100%;
      max-height:100%;
    }
  }
}

.footer {
  @include grid-container;
  .column {
    @include grid-column(12);
    text-align:center;
  }
}

$full-width: (
  columns: 1,
  gutter: 12vw,
);

.full-width {
  @include grid-container;
  .wrapper {
    @include grid-column(1, $full-width);
  }
}

$half-wrapper: (
  columns: 1,
  gutter: 10vw,
);

.half-wrapper {
  @include grid-container;
  .wrapper {
    @include grid-column(1, $half-wrapper);
  }
}

$half-width: (
  columns: 2,
  gutter: 1vw,
);

.half-width {
  @include grid-container;
  .column {
    @include grid-column(1, $half-width);
    h2 {
     padding-left: .6em;
    }
  }
}
